<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

body {
    max-width: 980px;
    margin: auto;
}

header .menu li {
   margin-top: 10px;
   float: right;
   margin-right: 1px; 
   font-family: Verdana, Arial, Helvetica, sans-serif; 
   font-size: 17px; 
   list-style-type: none;
}

header .menu li a {
   display: block; 
   padding: 15px 20px; 
   background: #3ba4f9; 
   color: #3f3f3f; 
   text-decoration: none; 
}

header .menu li a:hover {
   background: #92d3d3;
   color: #6b6b6b;
}

  header .banner {
    background-image: url(../img/bmw522.jpg);
    background-position: center;
    background-size: cover;
    min-height:1100px;
    align-items: center;
    justify-content: center;
}

header .banner p {
    font-size: 4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
 text-shadow:  5px 5px 10px rgba(0, 0, 0, .9);
 text-align: center;
 position: absolute;
  top: 25%;
  left: 30%;
  margin: auto;
}

main .home div {
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #4542f4;
 text-shadow:  5px 5px 10px rgba(0, 0, 0, .4);
 text-align: center;
}

main .home p {
     font-size: 8rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #0e3aed;
 text-shadow:  5px 5px 10px rgba(0, 0, 0, .7);
 text-align: left;
 margin: 2px;
}

main .home h2 {
     font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #0e3aed;
 text-shadow:  5px 5px 10px rgba(0, 0, 0, .4);
 text-align: left;
  margin: 2px;
}

main .home form{
 font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #000207;
 text-align: right;
  margin: 2px;
}