<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

body {
    max-width: 980px;
    margin: 0;
}
 
 header .logo {
 font-family: 'Open Sans', sans-serif;
 font-size: 5rem;
    text-align: center;
    margin: 30px auto;
    font-weight: bold;
    color: white;
 text-shadow:  5px 5px 10px rgba(0, 0, 0, .4);
 position:absolute;
left:320px;
top:100px;
}


     



header .menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    
}

header .menu li {
    list-style-type: none;
}


header .menu {
 height: 30px;
  background-color: #004ecc;
  padding-left: 25px;
  min-width: 470px;

}
header .menu li {
  float: right;
  position: relative;
  height: 100%;
}

header .menu li a {
display: block;
  padding: 8px;
  width: 100px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  
}

main .home a{
    
    
}